// Add styling on buttons
@media (hover: hover) {
  button:hover {
    opacity: 0.5;
  }
}
button {
  background-color: $btnBgColor;
  color: $btnTextColor;
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
  text-transform: uppercase;
  cursor: pointer;
  width: max-content; //
}
button:active {
  background-color: $tertiaryBtnBgColor;
  color: $activeBtnTextColor;
}
button:active[disabled] {
  background-color: $btnBgColor;
  color: $btnTextColor;
  opacity: 0.5;
}
button[disabled] {
  cursor: no-drop;
  opacity: 0.5;
}
.landingPageReadyBtn {
  background-color: $tertiaryBtnBgColor;
  color: $secondaryBtnTextColor;
}
.landingPageReadyBtn:active {
  background-color: $secondaryBtnBgColor;
  color: $btnTextColor;
}
.answerBtn {
  margin-top: 20px;
}
.nextQuestionBtn,
.showResultBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.showResultBtn {
  background-color: $timerBgColor;
  color: $timerTextColor;
  font-weight: 600;
  animation: borderPulse 1s ease-in-out infinite;
}

@keyframes borderPulse {
  to {
    border: 6px solid #000000;
  }
}

.nextQuestionBtn:active,
.showResultBtn:active {
  background-color: $secondaryBtnBgColor;
}
.playAgainBtn {
  background-color: $secondaryBtnBgColor;
  color: $secondaryBtnTextColor;
  font-weight: 600;

  margin: 10px;
}
.newPlayerBtn {
  margin: 10px;
}
