// Add style about headings, font, .hidden, backgrounds etc
// Elements, common
body {
  background-color: $primaryBgColor;
}
h1 {
  color: $primaryHeaderColor;
  max-width: 200px;
  text-align: center;
}

// Main
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

// Specific page-containers and their content
.timerContainer,
.landingPage,
.namePage,
.questionPage,
.resultPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.timerContainer {
  height: 20vh;
  width: 100%;
  font-size: 2rem;
  color: $timerTextColor;
}
.landingPage {
  height: 100vh;
  background-color: $landingBgColor;
  padding-bottom: 10vh;
  line-height: 3rem;
  row-gap: 4rem;
}
.nameLabel {
  font-weight: bold;
  font-size: 1.7rem;
}
.playerName {
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  height: 3.5rem;
  width: 15rem;
  padding-left: 15px;
}
.questionPage {
  background-color: $questionsBgColor;
  text-align: center;
  min-height: 60vh;
  padding: 20px;
  font-size: clamp(2vh, 1rem, 10vh);
  margin-bottom: 20vh;
  .questionNumber {
    font-size: clamp(2vh, 3rem, 10vh);
  }
  .radioBtnContainer {
    display: grid;
    gap: 1rem;
    justify-items: start;
    padding-inline-end: 2rem;
    label {
      display: flex;
      .answerRadioBtn {
        margin-top: 0;
      }
      span {
        padding-left: 15px;
        text-align: left;
      }
    }
  }
}
.answerText,
.answerRadioBtn {
  cursor: pointer;
}
.feedbackPage {
  display: flex;
  height: 60vh;
  margin-bottom: 20vh;
  flex-direction: column;
  justify-content: center;
  .answerContainer {
    position: relative;
    .correctAnswerContainer,
    .wrongAnswerContainer {
      display: flex;
      height: 33vh;
      background-color: $correctMsgBgColor;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        margin-bottom: 4rem;
      }
    }
    .wrongAnswerContainer {
      background-color: $falseMsgBgColor;
    }
  }
}
.resultPage {
  justify-content: space-between;
  padding: 4rem 2rem;
  height: 100vh;
  .resultTitle {
    align-self: flex-start;
    font-style: italic;
    font-size: 2.6rem;
    color: $timerTextColor;
  }
  .totalScoreContainer {
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    color: $timerTextColor;
  }
  .resultPageBtnContainer {
    text-align: center;
  }
}
// Togglable classes and commonly used classes across the page
.resultTimer {
  background-color: $timerBgColor;
  width: 50%;
  height: 10vh;
  position: absolute;
  right: 0;
  top: 35vh;
  align-items: start;
  padding-left: 1rem;
  font-weight: 600;
}
.hidden {
  display: none !important;
}
.uppercase {
  text-transform: uppercase;
}
