// Add style about headings, font, .hidden, backgrounds etc
body {
	.namePage {
    height: 100vh;
    width: 100vw;
    background-color: $primaryBgColor;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    .nameLabel,
    .runBtn {
      text-transform: uppercase;
    }
    .playerName,
    .runBtn {
      border: none;
      border-radius: 5px;
    }

	}
}
