// Add variables of colors
// Variables of colors
$primaryBgColor: rgb(193, 192, 182);
$ladningBgColor: rgb(63, 59, 55);
$questionsBgColor: rgb(118, 158, 160);
$timerBgColor: rgb(231, 169, 44);
$correctMsgBgColor: rgb(251, 239, 223);
$falseMsgBgColor: rgb(240, 112, 103);

$textColor: rgb(0, 0, 0);
$primaryHeaderColor: rgb(251, 239, 223);
$secondaryHeaderColor: rgb(63, 59, 55);
$timerTextColor: rgb(63, 59, 55);

$btnBgColor: rgb(63, 59, 55);
$secondaryBtnBgColor: rgb(118, 158, 160);
$tertiaryBtnBgColor: rgb(251, 239, 223);
$btnTextColor: rgb(255, 255, 255);
$secondaryBtnTextColor: rgb(63, 59, 55);

$activeBtnTextColor: rgb(0, 0, 0);
